<a href="https://colab.research.google.com/github/aelshehawy/Python_OxfordSpringSchool23/blob/main/Spring_School_2023_Session_1_PythonFullCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to Python for Social Data Science 2023**

# Python Session 1

In [ ]:
from IPython.display import Image
Image(url='https://media.giphy.com/media/gG9fVWJdN41NeiHhzk/giphy.gif')

Load this code to be able to access data from your Google Drive, this gives permission to Colab to get files/data. Will be super useful in our next sessions.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Github

**Why use GitHub?**

- Open Source
- Have your code reviewed by the community
- Give your projects visibility
- Collaborate and track changes for your code visibly
- Newsfeed with latest updates - You can  see what changes have been made in any other repositories you follow. 
- Explore repositories -  On the right of your dashboard, you can locate suggested repositories to follow â€” these suggestions are based on repositories you have followed or starrted.

**How do we use Github?**

- Fork a rep: Create a new project based on a project that already exists - you can fork our repository to have a copy in your profile that you can edit https://github.com/aelshehawy/PythonSocialDataScience <br>
Use fork to work on new features and submit pull requests containing your new changes to the original repository.
- Pull Request:  Authors of the original repository can see your work & choose if they want to accept it to the official project.
- Star: Bookmark repository
- Desktop version is really nice, you can work on your computer, have a local copy of ' repositories, fetch updates from their

**Download our data for the class**

You can download the whole repository with one click: https://github.com/aelshehawy/PythonSocialDataScience

If you wanna download a specific Python sheet or csv file

1. First click on Raw
2. Then, press ctrl+s to save it as **.ipynb** or **csv**

**I recommend using GitHub Desktop:** 
if you have forked our class's repository, then clone my repository on your computer and keep fetching changes.

**Just explore and play with GitHub whe you have time**

# Install Jupyter Notebooks on your Local Drive

What is a Jupyter Notebook:

 "Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text."

_We will use Anaconda_ https://www.anaconda.com/products/distribution

in your terminal please enter:

``pip install jupyterlab``

if that doesnt work try:

``conda install -c conda-forge jupyterlab``

# Google Colab Sheets

- Can be used with browsers like Chrome of Firefox
- Saves installation time and effort. Easily use available libraries.
- All your notebooks can be saved directly in your Google Drive
- Excellent for collaborations!
- Check this link for more information https://colab.research.google.com/notebooks/basic_features_overview.ipynb

### So how does it work?

1. To create a new cell you click +
2. To run a cell you need to press the play button
3. You can create cells where you write text by clicking on the + Text button. Here is a cheat sheet [link](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) for markdown, probably you have already used it in R. 
4. If you need to clear everything that is saved in a python notebook (remove saved variables/data etc.). You can click on Edit and choose **clear all output**
6. Save notebooks on your Google Drive - Don't forget!
7. Useful Shortcuts under Tools: Example: Control m m will convert a code cell to a text cell. Control m y will convert a text cell to a code cell.

In [ ]:
1+2

3

# What are we learning in this Python session today

Mainly: Basic Operations of Python

* Python Interactive Shell: Print Function
* Assigning Variables and Values
* Understanding Different Types of Objects in Python
* Mathematical Operations
* Boolean Operations 

Python Objects:

* Transformation of Objects
* Input function 
* Understanding Python Strings
* Combining Objects
* Libraries in Python
* Data Structures and Container

# Python Interactive Shell

### The print function
Here you can use print() built in function for python to print strings, intergers etc. <br>
To print a string you need to wrap it in " "

In [ ]:
print('Welcome to Text Analysis Class') #we use single or double quotation marks

Welcome to Text Analysis Class

In [ ]:
print("Welcome")

Welcome

In [ ]:
print("Using this you can print strings")

Using this you can print strings

In [ ]:
print(5)

5

In [ ]:
# you can print intergers and strings together like this - seperate with a comma
print(5,"you can print also the digit 5 and combine it with a description")

5 you can print also the digit 5 and combine it with a description

In [ ]:
# using the hashtag to comment out lines or comment your code
print(5*7,"you can print also the digits 35 and combine them with a description")

35 you can print also the digits 35 and combine them with a description

### Assign variable values
here we save a value inside of a variable - exactly as we do with other statistical programmes like R and Stata

In [ ]:
welcome="Welcome to Text Analysis Class"

as we saved the string within the variable welcome, we can use python's built in function print() to see what we have saved

In [ ]:
print(welcome)

Welcome to Text Analysis Class

In [ ]:
welcome

'Welcome to Text Analysis Class'

Same goes with intergers and calculations

In [ ]:
calculation =(5*2*2)

In [ ]:
print(calculation)
calculation #the product of the evaluation

20

20

**Take care of overwritting**

In [ ]:
calculation=(10*10)
calculation

100

using variables that we have already assigned

In [ ]:
# To calculate m=x+y
x=7
y=9

In [ ]:
x

7

In [ ]:
y

9

In [ ]:
m=(x+y)
m

16

In [ ]:
z #z is not defined
print(z) #still not defined

NameError: ignored

In [ ]:
A=3
r=2
multiplication=A*r
multiplication

6

In [ ]:
combine = (calculation, welcome, m)
combine

(100, 'Welcome to Text Analysis Class', 16)

In [ ]:
x=7
x
print(x)

7

# What type of Object are we using?

In [ ]:
object1=("yes")
print(object1)

yes

In [ ]:
print(type(object1))

<class 'str'>

In [ ]:
print(type("apple"))

<class 'str'>

In [ ]:
print(type(5*10))

<class 'int'>

In [ ]:
#float: a number that has both an integer and fractional part, separated by a point.
print(type(1.1))

<class 'float'>

# Maths

In [ ]:
#you can use python to perform mathematical operations
5+5

10

In [ ]:
#you can also use the print function to achieve the same thing
print(5+5)

10

In [ ]:
#multiplication
5*5

25

In [ ]:
#Power
5**5

3125

In [ ]:
# Multiplication, division interger, division float, remainder, and exponentiation
print(3 * 5)
print(10 / 3)
print(10 // 3)
print(18 % 7)
print(4 ** 2)

15
3.3333333333333335
3
4
16

In [ ]:
A=11//2 #interger division
print(A)

5

In [ ]:
A=11/2 #float division
print(A)

5.5

In [ ]:
#It is important to know that python needs brackets to understand what it should calculate first
#Lets experiment

In [ ]:
(1666-20+40)*(800-10)*(300+20)

426220800

In [ ]:
(1666-20+40*800-10*300+20)

30666

# Boolean operations

In programming you often need to know if an expression is True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(100 < 2)
print(3 > 7)

False
False

In [ ]:
print(2 <= 3)
print(2 <= 2)
print(3 >= 99)
print(55 == 55)

True
True
False
True

In [ ]:
print("dpir" == "dpir")
print("dice" != "ice")

True
True

In [ ]:
a=2
b=2.5

In [ ]:
a == b #these objects are equal to each other?

False

In [ ]:
a!=b #these objects are not equal to each other?

True

# Transform Objects

In [ ]:
number1= 100
number2= 2.3

number1

100

In [ ]:
#transform to string
numberx=str(number1)
numberx

'100'

In [ ]:
#transform to interger
int(number2)

2

# Input from keyboard

In [ ]:
answer_this_question = input ("Why are you here?\n\t")

Why are you here?
	learn

In [ ]:
answer_this_question

'learn'

In [ ]:
print(type(answer_this_question))

<class 'str'>

In [ ]:
#################################################################################

# Combining objects

In [ ]:
#combine strings
text = "we"+ " "+ "are "+"learning " + "python'"

text

"we are learning python'"

In [ ]:
intergers="2"+" "+"3"
print(intergers)
print(type(intergers))

2 3
<class 'str'>

In [ ]:
intergers=2+3
intergers
# see the difference between this and the cell above?
print(type(intergers))
intergers

<class 'int'>

5

In [ ]:
#conversions - we talked about transforming types of objects last week
#we can save an item as string here s1="5"
s1="5"
x= s1 *3 #we transform first s1 as interger and then we multiply it by 3
print (x) # 5*3=15

555

In [ ]:
"a"=="A"

False

# Understanding Python Strings

Inputting a string

In [ ]:
#it doesnt matter whether you use single or double quoted strings to save a string object
string1 = "Hi this is session one"
string2 = 'And I am loving python'
print (string1)

Hi this is session one

In [ ]:
print(string1)

Hi this is session one

In [ ]:
print(string2)

And I am loving python

what if we wanna make sure if there is a specific word in the saved string?

In [ ]:
"is" in string2

False

In [ ]:
"am" in string2

True

# Manipulate string

In [ ]:
myname="my is ashrakat"

In [ ]:
#if I want to make letter uppercase
print(myname.title())

My Is Ashrakat

In [ ]:
print (myname.lower())

my is ashrakat

In [ ]:
#if I want to make the whole string uppercase
print (myname.upper())

MY IS ASHRAKAT

#### Strip space

In [ ]:
university=" University of Oxford "
print(university)

 University of Oxford

In [ ]:
#remove all leading and ending spaces
university1=university.strip()
print(university1)

University of Oxford

In [ ]:
#remove all space characters in sentence
university.replace(" ", "")

'UniversityofOxford'

In [ ]:
#we can replace letters as well
university2=university.replace("U", "z")
university2

' zniversity of Oxford '

#### Count number of words and letters

In [ ]:
#count number of charachters incluing white space
university="University of Oxford in Oxford"
#university=university.replace(" ", "") if we use this we remove the while space and the count without replace
len(university.replace(" ",""))

26

In [ ]:
#count number of words - splitting on white space
len(university.split())

5

In [ ]:
uni=university.split()# split function splits by white-space
uni

['University', 'of', 'Oxford', 'in', 'Oxford']

In [ ]:
#count number of occurence of letter
print(university.count(' '))
print(university.count('U'))

4
1

# Libraries in Python

Usually you enter in terminal ``pip install [project name]``, best is to check source documentation of project. <br\>
Example: https://pypi.org/project/Counter/

In [ ]:
# you need a library to count faster, this is a very powerful library that we wil use in the future
from collections import Counter
uni="University of Oxford"
Counter(uni) # here we count how much each letter appears, counter can do much more

Counter({'U': 1,
         'n': 1,
         'i': 2,
         'v': 1,
         'e': 1,
         'r': 2,
         's': 1,
         't': 1,
         'y': 1,
         ' ': 2,
         'o': 2,
         'f': 2,
         'O': 1,
         'x': 1,
         'd': 1})

In [ ]:
Counter(uni.split())

Counter({'University': 1, 'of': 1, 'Oxford': 1})

# Data Structures in Python

### Lists

ordered, changable, allows duplicated items

create empty list

In [ ]:
# Create an empty list to hold our users.
usernames = []
print(usernames)

[]

In [ ]:
# Add some users.
usernames.append('user1')
usernames.append('user2')
usernames.append('user3')
usernames.append(int("3"))
print(usernames)

['user1', 'user2', 'user3', 3]

creating lists and checking length

In [ ]:
quarantine =['baking','zoom',"productiveness","instagram","netflix","social distancing"]
print(quarantine)

['baking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']

In [ ]:
random=[2,5,6,2,3,4]
print(random)

[2, 5, 6, 2, 3, 4]

In [ ]:
print(len(quarantine)) # we see we have 6 items in our list
print(len(random))

6
6

insert list item

In [ ]:
quarantine =['baking','zoom',"productiveness","instagram","netflix","social distancing"]
quarantine.insert(1,"masking")
print(quarantine)

['baking', 'masking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']

modifying list elements

In [ ]:

quarantine[0] = 'lockdown'
print(quarantine)

['lockdown', 'masking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']

In [ ]:
quarantine.insert(0,"backing")
print(quarantine)

['backing', 'lockdown', 'masking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']

**VERY IMPORTANT** In Python counting of items/observations always starts with 0

access list items

In [ ]:
quarantine

['backing',
 'lockdown',
 'masking',
 'zoom',
 'productiveness',
 'instagram',
 'netflix',
 'social distancing']

In [ ]:
item5=quarantine[5]
print(item5)

instagram

In [ ]:
#select items
quarantine_food_edition=quarantine[0] #acess item 1
quarantine_food_edition

'backing'

In [ ]:
#select range, slice slice
quarantine_fun_edition=quarantine[:2]
quarantine_fun_edition

['backing', 'lockdown']

In [ ]:
#accessing last item
print(quarantine)
quarantine2 = quarantine[-1]
print(quarantine2)
print(quarantine2.title()) #upper case first letter of each word

['backing', 'lockdown', 'masking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']
social distancing
Social Distancing

sort numerical list

In [ ]:
numbers = [1, 3, 4, 2]

# sort() puts numbers in increasing order.
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [ ]:
numbers = [1, 3, 4, 2]

# The reverse() function also works for numerical lists.
numbers.reverse()
print(numbers)

[2, 4, 3, 1]

removing items by value

Be careful: only the first item with this value is removed. If you have multiple items with the same value, you will have some items with this value left in your list.

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

Popping items from list:

The pop() function removes the last item from the list, and gives it to us so we can work with it. 

This is easier to show with an example:

In [ ]:
beach = ['sun', 'sand', 'waves']
last_item_beach = beach.pop()

print(last_item_beach)
print(beach)

waves
['sun', 'sand']

In [ ]:
beach = ['sun', 'sand', 'waves']
last_item_beach = beach.pop(0)

print(last_item_beach)
print(beach)

sun
['sand', 'waves']

min, max, sum in lists

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print(youngest)
print(oldest)
print(total_years)

11
38
149

item in list?

In [ ]:
print(38 in ages)

True

### Dictionaries

A dictionary has a key and a corresponding value

How to create a dictionary

In [ ]:
myshoppingitems = ['Pasta', 10, 'Pesto', 20, 'Chocolate', 5]
myshoppingitems

['Pasta', 10, 'Pesto', 20, 'Chocolate', 5]

In [ ]:
myshoppingitems = {'Pasta': 10, 'Pesto': 20, 'Chocolate': 5}
myshoppingitems

{'Pasta': 10, 'Pesto': 20, 'Chocolate': 5}

In [ ]:
emptydictionary = dict()
emptydictionary

{}

In [ ]:
d={}
d

{}

Add first item to the dictionary, dictionary keys should always be unique

In [ ]:
emptydictionary['Pasta'] = 10
print(emptydictionary)

{'Pasta': 10}

In [ ]:
emptydictionary['Pesto'] = 20
emptydictionary

{'Pasta': 10, 'Pesto': 20}

Access key,item in a dictionary

In [ ]:
emptydictionary['Pesto']

20

### Tuples

- immutable sequence of Python objects - you cannot update or change the values of tuple elements
- their advantage is that they have a fixed value

In [ ]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
print(tuple1)

('noon', 'morning', 'afternoon', 'evening')

create tuple of one value, you always need a comma at the end

In [ ]:
tupele2 = (1,)
tupele2

(1,)

you can access values

In [ ]:
print(tuple1[3])

evening

you can not modify within tuples, but you can concate different tuples

In [ ]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
tuple2 = ('12', '10', "16", "18")
tuplemix=tuple1+tuple2
tuplemix

('noon', 'morning', 'afternoon', 'evening', '12', '10', '16', '18')

you can not modify within tuples, but you can repeat tuples in a new tuple

In [ ]:
tuplemultiply=tuple2*2
tuplemultiply

('12', '10', '16', '18', '12', '10', '16', '18')

If you try to add something to a tuple, you will get an error:

In [ ]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: ignored

The same kind of thing happens when you try to remove something from a tuple, or modify one of its elements. Once you define a tuple, you can be confident that its values will not change.

you can check membership

In [ ]:
3 in tuple2

tuples are immutable,  the value in the tuple will never change

In [ ]:
tuplemultiply[8] = 22

### Sets

What is a set? It is an unordered collection of items. You can not be sure in which order the items will appear.

Elements of the set:
1. must be unique - doesnt allow for duplicate elements
2. elemenets can not be changed (you can not access items by refering to an index, as done in lists)

The set as a whole is mutable, we can add and remove items from it

Usually sets are used to for mathematical operations like, union and intersection

In [ ]:
#creation of sets

set1 = {8, 2, 3, 20, 13, 100}
set2 = {"apple",2,3, "orange"}
print(set1)
print(set2)

{2, 3, 100, 20, 8, 13}
{2, 3, 'orange', 'apple'}

In [ ]:
# no duplication allowed

set3 = {8, 2, 3, 20, 13, 100, 20, 3}
print(set3)

{2, 3, 100, 20, 8, 13}

In [ ]:
# transform a list to a set

newlist=[8,20,33,400]
newset = set(newlist)
print(newset)
print(type(newset))

{8, 33, 20, 400}
<class 'set'>

In [ ]:
#mutability of set

#add an item
newset.add(2)
print(newset)

{33, 2, 8, 400, 20}

In [ ]:
#to add more than one item you use update
newset.update([100, 5, 6])
print(newset)

{33, 2, 100, 5, 6, 8, 400, 20}

In [ ]:
# discard an item (similar remove - however remove will show an error if the item is not in the set)
newset.discard(3)
print(newset)

{33, 2, 100, 5, 6, 8, 400, 20}